// Place all the styles related to the public/posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.posts{ //css個別指定

//------newページ------
.error_messages{
  margin: 3% 0 -7% 0;
}

.post_title{
  margin-top: 7%;
  text-align: center;
}

.label{
  padding-top: 2%;
  white-space: nowrap;
}

.post_contents{
  text-align: center;
}

//入力フォームデザイン
#post_title{
  border-radius: 130px;
  padding: 5px 10px;
  border-width: 1px;
}

#post_introduction{
  border-radius: 30px;
  padding: 5px 10px;
  border-width: 1px;
}

.submit_button{
  margin-top: 5%;
  text-align: center;
}


//------showページ------
.user_profile{
  display: flex;
}

.frofile_image{
  margin: 10px 0 20px 10px;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  object-fit: cover;
}

.frofile_image:hover {
  opacity: 0.6;
}

.profile_name{
  margin: 33px 0 0 20px;
}

.post_image{
  width: 100%;
  aspect-ratio: 5 / 3;
  border-radius: 10px;
}

.content{
  text-align: center;
}

.text{
  padding: 5% 7% 0 7%;
}

.title{
  padding: 0 12% 3% 12%;
  text-align: center;
  border-bottom: 1px solid;
  width: 100%;
}

.introduction{
  padding: 3% 6% 0 6%;
  font-size: 20px;
}

.under_content{
  margin: 0 auto;
  border-bottom: 1px solid;
}

.user_reactions{
  justify-content: center;
  display: flex;
}

#favorite_button{
  white-space: nowrap;
}

.fa-heart{
  color: #ff007f;
}

#comment_count{
  margin-left: 10%;
  white-space: nowrap;
}

.date_time{
  margin: 0 12% 0 75%;
  white-space: nowrap;
}

.post_delete{
  margin: 0 0 2% 90%;
}

//------comment------
.card{
  margin: 3% 2% 3% 2%;
}

.comment_contents{
  margin: 3% 0 2% 0;
  text-align: center;
}

.comment_wrap{
  margin: auto;
  width: 35%;
  word-wrap: break-word;
  text-align: left;
}

.text_area{
  width: 70%;
  border-radius: 13px;
}

.comment_area{
  margin-top: 6%;
}

.button{
  margin: 3% 0 3% 0;
  justify-content: center;
  align-items: center;
  width: 250px;
  padding: .8em 2em;
  border: none;
  border-radius: 25px;
  background-image: linear-gradient(90deg, rgba(254, 220, 64, 1), rgba(247, 130, 93, 1) 70%);
  color: #fff;
  font-weight: 600;
  font-size: 1em;
}

.button:hover {
  opacity: 0.6;
}

} //css個別指定範囲終了