// Place all the styles related to the public/relationships controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.relationships{ //css個別指定

//背景設定
background-image: image-url("shibuya5.jpg");
background-attachment: fixed;
background-size: cover;
background-position: center;
background-color: rgba(255,255,255,0.8);
background-blend-mode: lighten;

//------フォロー,フォロワー一覧------
.followings_title{
  margin: 6% 0 3% 0;
  text-align: center;
}

.followers_list_title{
  margin: 6% 0 3% 0;
  text-align: center;
}

.result_frofile_image{
  margin: 3% 0 0 30%;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  object-fit: cover;
}

.result_frofile_image:hover{
  opacity: 0.6;
}

.result_frofile_name{
  text-align: center;
  padding: 30px 0;
}

.card-body{
  text-align: center;
}

.card-body:hover{
   opacity: 0.6;
}

//------ページネーション------
.page_nation{
  text-align: center;
}

} //css個別指定終了