// Place all the styles related to the public/users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.users{ //css個別指定

//背景設定
background-image: image-url("shibuya3.jpg");
background-attachment: fixed;
background-size: cover;
background-position: 50% 100%;
background-color: rgba(255,255,255,0.8);
background-blend-mode: lighten;

///showページ
//------info------
.user_info{
  padding: 2% 0 1% 7%;
}

.info_user_profile_image{
  margin: 10px 0 10px 10px;
  border-radius: 50%;
  width: 130px;
  height: 130px;
  object-fit: cover;
}

.info_user_name{
  margin-left: 0.7%;
  font-size: 50px;
}

.info_user_introduction{
  margin-left: 0.7%;
  font-size: 20px;
}

#follow_botton{
  margin: 2% 0 3% 1%;
}

.following_button{
  margin: 3% 0 3% 0;
  justify-content: center;
  align-items: center;
  width: 250px;
  padding: .8em 2em;
  border: none;
  border-radius: 25px;
  background-image: linear-gradient(90deg, rgba(240, 245, 144, 1), rgba(7, 180, 12, 1) 60%);
  color: #fff;
  font-weight: 600;
  font-size: 1em;
}

.following_button:hover {
  opacity: 0.6;
}

.followi_free_button{
  margin: 3% 0 3% 0;
  justify-content: center;
  align-items: center;
  width: 250px;
  padding: .8em 2em;
  border: none;
  border-radius: 25px;
  background-image: linear-gradient(90deg, rgba(207, 63, 245, 1), rgba(209, 90, 90, 1) 60%);
  color: #fff;
  font-weight: 600;
  font-size: 1em;
}


.followi_free_button:hover {
  opacity: 0.6;
}

.follow_list{
  margin-left: 1%;
  display: flex;
}

.user_contents{
  margin: 1% 0 1% 0.7%;
  display: flex;
}

.user_favorite_posts{
  margin-left: 1.7%;
}

//------card------
.user_profile{
  display: flex;
}

.frofile_image{
  margin: 0 2% 22% 10%;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  object-fit: cover;
}

.frofile_image:hover{
  opacity: 0.6;
}

.user_profile_name{
  margin: 20px 0 2px 20px;
}

.td{
  text-align: auto;
}

.post_image{
  width: 100%;
  aspect-ratio: 5 / 3;
  border-radius: 10px;
}

.post_image:hover {
  opacity: 0.6;
}

.user_reaction{
  text-align: center;
}


//------editページ------
.error_messages{
  margin: 3% 0 -7% 0;
}

.edit_title{
  margin-top: 7%;
  text-align: center;
}

.label{
  padding-top: 2%;
}

.edit_contents{
  text-align: center;
}

//入力フォームデザイン
#inputName{
  border-radius: 130px;
  padding: 5px 10px;
  border-width: 1px;
}

#inputIntroduction{
  border-radius: 130px;
  padding: 5px 10px;
  border-width: 1px;
}

.submit_button{
  margin-top: 5%;
  text-align: center;
}

.withdrawal_link{
  margin-top: 3%;
  text-align: center;
}

.button{
  margin: 3% 0 3% 0;
  justify-content: center;
  align-items: center;
  width: 250px;
  padding: .8em 2em;
  border: none;
  border-radius: 25px;
  background-image: linear-gradient(90deg, rgba(254, 220, 64, 1), rgba(247, 130, 93, 1) 70%);
  color: #fff;
  font-weight: 600;
  font-size: 1em;
}

.button:hover {
  opacity: 0.6;
}

//------unsubscribeページ------
.withdrawal_contens{
  text-align: center;
  padding: 30px 0;
}

.withdrawal_title{
  margin-top: 3%;
}

.withdrawal_text{
  margin-top: 7%;
}

.withdrawal{
  margin: 10% 3% 0 0;
}

//右下固定ボタン
#post_button{
  position: fixed;
  right: 20px;
  bottom: 20px;
}
.post_button{
  width: 100px;
  height: 100px;
}

//------ページネーション------
.page_nation{
  text-align: center;
}

} //css個別指定範囲終了