<!--2行目の「post」「comment」が元インスタンス変数-->
<%= form_with model: [post, comment], local: false do |f| %>

<div class = "comment_area">
  <%= f.text_area :comment, rows: '2', cols: '50em', class: "text_area", placeholder: "コメントをここに" %>
</div>
<%= f.submit "送信する", class: "button" %>

<% end %>