<div class = "container">
  <div class = "row">

    <h3 class = "title">フォロワー一覧</h3>
    <% if @users.exists? %>

      <div class="col-md-4">
        <div class = "card h-90">

          <% @users.each do |user| %>

            <%= link_to user_path(user), class: 'card-body'do %> <!--要素リンク化-->
              <%= image_tag user.get_profile_image(100,100), class: 'frofile_image'%>
              &nbsp;<!--空白-->
              <%= user.name %>
            <% end %>
            
          <% end %> <!--each文範囲終了-->
        </div>　<!--card m-3閉じ-->
      </div> <!--ccol-md-4閉じ-->

    <% else %>
      <p>ユーザーはいません</p> <!--フォロワー数０時表示-->
    <% end %> <!--if文範囲終了-->

  </div> <!--row閉じ-->
</div> <!--container閉じ-->