 <!--「user」部分（メソッド指定は除く）が元インスタンス変数-->

<% if user.errors.any? %>
  <%= user.errors.count %>件のエラーが発生しました
  <ul>
    <% user.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>
