<div class = "container">
  <div class = "row">

    <h1 class = "about_title">ShibuNSとは？</h1>
    <div class = "about_text">
      本サイト管理者の私自身、渋谷の街が好きでよく遊びに行っています。<br>
      そんな渋谷にあるオススメの店、スポット、カルチャー、流行などをユーザー同士で共有できれば、
      知らなかった店を新規開拓できたり、渋谷を倍楽しむことができるのでは？と思ったのがきっかけで制作した
      渋谷とSNSを掛けあわせたアプリサイトです。<br>
    </div>

    <h3 class = "about_title">〜こだわりポイント〜</h3>
    <div class = "about_text">
      「ShibuNSを使って渋谷を楽しんで欲しい」をモットーに制作したので、渋谷に特化させて
      渋谷駅に接続する路線情報、渋谷区の天気情報をまとめて分かる仕様にしました。<br>
      ヘッダーメニューにございますので、ぜひご活用ください。<br>
       (開発秘話：路線情報をスクロール表示にする部分で地味に苦戦しました...)
    </div>

    <h5 class = "about_title">謝辞</h5>
    <div class = "about_text">
      到底ひとりではここまで形にすることはできませんでした。<br>
      この場を借りて、お力添え頂いたメンターの皆様に感謝を申し上げます。
    </div>

  </div> <!--row閉じ-->
</div> <!--container閉じ-->