<div class = "container">
  <div class = "row">

    <div class = "search_form">
      <%= render 'public/searches/search', user: @user, posts: @posts, class: "text-center" %>
    </div>

    <div>
      <%= render 'public/posts/post_list', posts: @posts %>
    </div>

  </div> <!--row閉じ-->
</div> <!--container閉じ-->

  <!--ページネーション-->
<%= paginate @posts, class: 'enter-block'%>