// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.homes{ //css個別指定

//------search------
.search_form{
  margin: 1% 0 1% 1.6%;
}

#word{
  border-radius: 130px;
  padding: 5px 10px;
  border-width: 1px;
}

#range{
  border-radius: 130px;
}

#search{
  border-radius: 130px;
}

.btn{
  border-radius: 130px;
  border: none;
  background-image: linear-gradient(90deg, rgba(254, 220, 64, 1), rgba(247, 130, 93, 1) 70%);
}

//------card------
.user_profile{
  display: flex;
}

.frofile_image{
  margin: 0 2% 22% 10%;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  object-fit: cover;
}

.frofile_image:hover{
  opacity: 0.6;
}

.user_profile_name{
  margin: 20px 0 2px 20px;
}


.post_image{
  width: 100%;
  aspect-ratio: 5 / 3;
  border-radius: 10px;
}

.post_image:hover {
  opacity: 0.6;
}

.user_reaction{
  text-align: center;
}

} //css個別指定範囲終了