// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
//ヘッダー
.nav-link{
    margin: 7px;
}

.search_form{
   padding: 0 0 0 10px;
}

//card
.frofile_image{
    margin: 10px 10px;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    object-fit: cover;
}

.frofile_image:hover {
    opacity: 0.6;
}

.post_image{
    width: 100%;
    aspect-ratio: 5 / 3;
    border-radius: 10px;
}

.post_image:hover {
    opacity: 0.6;
}

.content{
    text-align: center;
}

//ページネーション
.page_nation{
    text-align: center;
}