// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.homes{ //css個別指定

.search_form{
  margin: 2.5% 0 1% 1%;
}

//card
.frofile_image{
  margin: 0 2% 5% 2%;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  object-fit: cover;
}

.frofile_image:hover {
  opacity: 0.6;
}

.user_profile{
  display: flex;
}

.profile_user_name{
  margin: 2% 0 0 0;
}

.post_image{
  width: 100%;
  aspect-ratio: 5 / 3;
  border-radius: 10px;
}

.post_image:hover {
  opacity: 0.6;
}

.user_reaction{
  text-align: center;
}

#form{
  position: fixed;
  right: 50px;
  bottom: 50px;
}

.arrow{
  width: 90px;
  height: 90px;
}

//ページネーション
.page_nation{
  text-align: center;
}

} //css個別指定範囲終了