<div class = "container">
  <div class = "row w-50 mx-auto">

    <h1>管理者専用ページ</h1>

      <table class="table">
        <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
          </tr>
        </thead>

        <tbody>
          <% @users.each do |user| %>
            <tr>
              <td><%= user.name %></td> <!--ユーザー名-->
              <td> <%= user.email %></td> <!--メールアドレス-->
              <td>
                <!--ユーザーアカウントステータス-->
                <% if user.is_valid %>
                    <strong class="text-success">稼働中</strong> <!--使用中-->
                  <% else %>
                    <strong class="text-danger">停止中</strong> <!--使用停止中-->
                <% end %>
              </td>

               <td>
                <%= link_to "強制削除", user_withdraw_user_path(user), method: :patch, data: { confirm: "【注意】管理者権限で削除しますか？" } %>

              </td>

          <% end %>
        </table> <!--table範囲終了-->

  </div> <!--row閉じ-->
</div> <!--container閉じ-->